<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Blog | About</title>
		<%- include("../style.ejs") %>
	</head>
	<body>
		<%- include("./partials/navbar.ejs") %>

		<div class="about-container">
			<h2>About</h2>
			<div class="about-content">
				Welcome to Amogh's Blog, your number one source for all things related
				to blogging. We're dedicated to providing you the best of service
				related to blogging, with a focus on dependability. customer service,
				and informative blogs in each topic.
				<br />
				<br />
				We're working to turn our passion for reading/blogging into a booming
				online store. We hope you enjoy our products as much as we enjoy
				offering them to you.
				<br />
				<br />
				Sincerely, Amogh Kapoor
			</div>
		</div>
	</body>
</html>
